/* .App {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
} */

/* .left-column {
  flex-basis: 25%;
}

.main-column {
  text-align: center;
  flex-basis: 49%;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  height: 100vh;
}

.right-column {
  flex-basis: 25%;
} */
